/*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 500px;
	background: #AAA;
	position: relative;
}

section{
	width: 100%;
	height: 500px;
	background: #777;
}

footer{
	width: 100%;
	height: 100px;
	background: #444;
}

nav{
	width: 100%;
	height: 100px;
	background: #333;
	position: absolute;
}*/